.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: gainsboro
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#form-container {
  background-color: white;
  margin: 2.5vw;
  padding: 2vw;
  text-align: center;
}

#form-grid {
  margin-top: 2vh;
}

#form {
  margin: auto;
}
